<form method="post" action="/tags">

  <div class="field-group">
    <label for="tag_name">New Category(tag):</label>
    <div class="field">
      <input
      type="text"
      name="tag_name"
      id="new-tag-field"
      placeholder="New Tag"
      required
      />
    </div>
    <div class="button-centre">
    <button><a class="button">Confirm New Category(tag)</a></button>
  </div>
  </form>
