<h4>View Transactions by Category</h4>

<% for tag in @tags %>
<div class="button-centre">
<form action="/transactions/by_tag/<%= tag.id %>" method="GET">
<button><a class="button"><%= tag.tag_name %></a></button>
</form>
</div>
<% end %>
