<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MoneyCashboard</title>
  </head>
  <body>
    <div class="introduction">
        <h1>MoneyCashboard</h1>
           <a class="button" href="/transaction/new">New Transaction</a>
      </div>
    <%= yield %>
  </body>
</html>
