<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MoneyCashboard</title>
  </head>
  <body>
    <div class="introduction">
        <h1>Welcome back, Calum</h1>
        <h3>please select from the options below to view or edit your
           transaction history</h3>
      </div>
    <%= yield %>
  </body>
</html>
