<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MoneyCashboard</title>
  </head>
  <body>
    <div class="introduction">
        <h1>Money Cashboard</h1>
      </div>
    <%= yield %>
  </body>
</html>
