<form method="post" action="/transaction">

  <div class="field-group">
    <label for="merchant-selection" class="label">Merchant:</label>
    <div class="field">
      <select name="merchant_id" id="merchant-selection">
        <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"><%= merchant.merchant_name%></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="field-group">
    <label for="tag-selection" class="label">Category(tag):</label>
    <div class="field">
      <select name="tag_id" id="tag-selection">
        <% for tag in @tags %>
        <option value="<%= tag.id %>"><%= tag.tag_name%></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="field-group">
    <label for="amount-field">Amount:</label>
    <div class="field">
      <input
      type="text"
      name="price"
      id="amount-field"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="date-field">Date:</label>
    <div class="field">
      <input
      type="date"
      name="transaction_date"
      id="date-field"
      />
    </div>
  </div>

  <button class="button">Confirm Transaction</button>
</form>
