<form method="post" action="/merchants">

  <div class="field-group">
    <label for="merchant_name">New Merchant:</label>
    <div class="field">
      <input
      type="text"
      name="merchant_name"
      id="new-merchant-field"
      placeholder="New Merchant"
      required
      />
    </div>
    <div class="button-centre">
    <button><a class="button">Confirm New Merchant</a></button>
  </div>
  </form>
