body, html {
    height: 100%;
    margin: 0;
    padding:0;
}

body{
  background-image: url("../images/piggy_bank.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1{
  font-family: "Lobster", serif;
  text-shadow: 3px 2px pink;
  text-align: center;
}

h2{
  text-align: center;
}

h4{
  text-align: center;
}

.button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button-centre{
  display: flex;
  justify-content: center;
  }

.p-show{
  display: flex;
  justify-content: center;
  }

#table-wrapper {
    position:relative;
    }

#table-scroll {
    height:390px;
    overflow:auto;
    margin-top:20px;
    }

#table-wrapper thead .text {
    position:absolute;
    top:-20px;
    z-index:2;
    height:20px;

  }



table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
  }

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
  }



tr:hover {
  transition: all 0.3s ease;
  background-color:#fcfcfc;
}
